<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <!-- table data store in headers so we trvaerse haeder and show the data as header -->
    <div class="m-4">
        <table id="myProjectTable" class="table table-hover align-middle mb-0">
            <thead class="bg-warning">
                <tr>
                    
                        <td class="sorting_1"><%= headers %></td>    
                    
                </tr>
            </thead>
            
        </table>
    </div>   
   
</body>
</html>